.donate-form {
    background-color: var(--background-color) !important;
    padding: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    margin: 5rem;
}
/* Invoice Component Styles */
.invoice-card {
    background-color: #f2f2ed;
    border: 1px solid var(--primary-color);
    max-width: 500px;
    margin: 2rem auto;
    color: var(--text-color-dark);
  }
  
  .invoice-title {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .invoice-details {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .invoice-item {
    margin-bottom: 0.8rem;
  }
  
  .donations-page {
    padding: 2rem 2rem;
    background-color: var(--background-color);
    color: var(--text-color-dark);
  }
  
  .donation-card {
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: var(--text-color-dark);
  }
  
  .donation-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .donation-card-title {
    font-weight: bold;
    color: var(--text-color-dark);
  }
  